variables:
  GOPATH: /go
  GOLANG_VERSION: "1.25.1"
  GOLINT_VERSION: "v2.4.0"
  COVERAGE_FILE: "coverage.out"
  COBERTURA_FILE: "coverage.xml"

.gocache:
  key: ${CI_COMMIT_REF_SLUG}
  policy: pull-push
  paths:
    - ${GOPATH}/pkg/mod
    - ${GOPATH}/bin

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

build:
  stage: build
  image: golang:${GOLANG_VERSION}
  needs: []
  cache: !reference [.gocache]
  script:
    - go mod download
    - go build ./...

lint:
  stage: test
  needs: [build]
  image: golangci/golangci-lint:${GOLINT_VERSION}
  script:
    - "! gofmt -l . | grep -q ."
    - golangci-lint run --timeout 5m0s

test:
  stage: test
  image: golang:${GOLANG_VERSION}
  needs: [build]
  variables:
    POSTGRES_DB: "indexer_framework_db"
    POSTGRES_USER: "username"
    POSTGRES_PASSWORD: "password"
    CONFIG_FILE: "../../tests/test_config.toml"
  before_script:
    - go get github.com/boumenot/gocover-cobertura
  services:
    - postgres:latest
  script:
    - go test --tags=integration -coverpkg=./... -coverprofile=${COVERAGE_FILE} ./...
    - go tool cover -func=${COVERAGE_FILE}
    - go run github.com/boumenot/gocover-cobertura < ${COVERAGE_FILE} > ${COBERTURA_FILE}
  artifacts:
    paths:
      - ${COVERAGE_FILE}
    reports:
      coverage_report:
        coverage_format: cobertura
        path: ${COBERTURA_FILE}
  coverage: '/total:\s+\(statements\)\s+(\d+\.\d+)%/'
